@model EntityLayer.Concrete.Heading
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Add</h2>
@using (Html.BeginForm("Add", "Heading", FormMethod.Post))
{
<div class="form-group">
    @Html.Label("Heading Adı")
    @Html.TextBoxFor(x => x.HeadingName, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.HeadingName, "", new { @style = "color.red" })
    <br />
    @Html.Label("yazar id yazın")
    @Html.DropDownListFor(x => x.WriterId , (List<SelectListItem>) ViewBag.vlw, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.WriterId)
    <br />
    @Html.Label("categori id yazın")
    @Html.DropDownListFor(x => x.Category.CategoryId, (List<SelectListItem>) ViewBag.vlc, new { @class = "form-control" })
    @Html.ValidationMessageFor(x => x.CategoryId)
    <br />

    <button class="btn btn-info">Kaydet</button>

</div>

}

